imageio==2.9.0
cycler==0.10.0
pyparsing==3.0.1
kiwisolver==1.3.2
python-dateutil==2.8.2
absl-py==0.15.0
jaxlib==0.3.2+cuda11.cudnn82
Pillow==8.4.0
tqdm==4.62.3
matplotlib==3.4.3
six==1.16.0
opt-einsum==3.3.0
flatbuffers==2.0
scipy==1.7.1
certifi==2021.10.8
numpy==1.21.3
opencv-python==4.9.0.80
Pillow==9.2.0
Pygments==2.16.1
grpcio==1.59.0
exceptiongroup==1.1.3
Send2Trash==1.8.2
sniffio==1.3.0
jupyter_server_fileid==0.9.0
jedi==0.19.1
jupyter-server==1.24.0
fqdn==1.5.1
jupyter_server_ydoc==0.8.0
jupyterlab-pygments==0.2.2
tensorboard==2.11.2
scipy==1.7.3
appdirs==1.4.4
pickleshare==0.7.5
fastjsonschema==2.18.1
plyfile==0.8.1
webencodings==0.5.1
cytoolz==0.12.0
ipykernel==6.16.2
torchvision==0.13.1
jupyter_core==4.12.0
rfc3339-validator==0.1.4
parso==0.8.3
nbconvert==7.6.0
cachetools==5.3.2
partd==1.2.0
pyasn1==0.5.0
jupyterlab_server==2.24.0
mkl-service==2.4.0
pyrsistent==0.19.3
jupyterlab==3.6.6
platformdirs==4.0.0
websocket-client==1.6.1
json5==0.9.14
rsa==4.9
matplotlib-inline==0.1.6
MarkupSafe==2.1.3
nbclient==0.7.4
oauthlib==3.2.2
dask==2021.10.0
smmap==5.0.1
tensorboard-plugin-wit==1.8.1
fsspec==2022.11.0
uri-template==1.3.0
y-py==0.6.2
PyWavelets==1.3.0
sentry-sdk==2.19.0
mistune==3.0.2
prometheus-client==0.17.1
google-auth-oauthlib==0.4.6
gitdb==4.0.11
typing_extensions==4.7.1
click==8.1.7
aiofiles==22.1.0
decorator==5.1.1
tqdm==4.66.1
tornado==6.2
python-json-logger==2.0.7
GitPython==3.1.40
nbformat==5.8.0
debugpy==1.7.0
cached-property==1.5.2
mkl-fft==1.3.1
torch==1.12.1
wcwidth==0.2.8
ptyprocess==0.7.0
argon2-cffi==23.1.0
isoduration==20.11.0
cloudpickle==2.0.0
jupyter_client==7.4.9
Markdown==3.4.4
pytz==2023.3.post1
ipython-genutils==0.2.0
defusedxml==0.7.1
Brotli==1.0.9
ypy-websocket==0.8.4
prompt-toolkit==3.0.39
urllib3==2.0.7
arrow==1.2.3
scikit-image==0.19.3
entrypoints==0.4
setuptools==68.2.2
anyio==3.7.1
imageio==2.31.5
protobuf==3.20.3
Werkzeug==2.2.3
pycparser==2.21
PyYAML==6.0
PyYAML==6.0.1
attrs==23.1.0
requests-oauthlib==1.3.1
pyzmq==24.0.1
wandb==0.18.7
six==1.16.0
bleach==6.0.0
tomli==2.0.1
zipp==3.15.0
pyasn1-modules==0.3.0
colorama==0.4.6
docker-pycreds==0.4.0
toolz==0.12.0
pandocfilters==1.5.0
tinycss2==1.2.1
jupyter-events==0.6.3
jupyter-ydoc==0.2.5
notebook_shim==0.2.3
jsonschema==4.17.3
terminado==0.17.1
PySocks==1.7.1
Babel==2.13.1
nbclassic==1.0.0
ipython==7.34.0
pkgutil_resolve_name==1.3.10
psutil==5.9.6
nvidia-htop==1.0.6
locket==1.0.0
jsonpointer==2.4
charset-normalizer==3.3.1
argon2-cffi-bindings==21.2.0
backcall==0.2.0
wheel==0.41.2
aiosqlite==0.19.0
Jinja2==3.1.2
networkx==2.6.3
torchaudio==0.12.1
soupsieve==2.4.1
webcolors==1.13
diff-gaussian-rasterization==0.0.0
idna==3.4
pexpect==4.8.0
traitlets==5.9.0
notebook==6.5.6
certifi==2022.12.7
packaging==22.0
packaging==23.2
importlib-resources==5.12.0
termcolor==2.3.0
beautifulsoup4==4.12.2
tifffile==2020.10.1
tensorboard-data-server==0.6.1
simple-knn==0.0.0
cffi==1.15.1
setproctitle==1.3.3
numpy==1.21.5
importlib-metadata==6.7.0
rfc3986-validator==0.1.1
pip==22.3.1
requests==2.31.0
mkl-random==1.2.2
nest-asyncio==1.5.8
google-auth==2.23.3
